%span{"data-bind" => "text: #{field}, visible: readonly, click: edit"}
%input{"data-bind" => "value: #{field}, visible: editable, executeOnEnter: save, valueUpdate: 'afterkeydown'", "style" => "display: none"}